body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.banner {
    background-color: #4a90e2;
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.banner h1 {
    margin: 0;
    font-size: 36px;
    font-weight: 700;
}

.menu {
    margin-bottom: 20px;
}

.menu button {
    padding: 10px 20px;
    background-color: #4a90e2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

.menu button:hover {
    background-color: #357ab8;
}

.input-box {
    display: none; /* Initially hidden */
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    background-color: white;
    width: 100%;
}

.graph-box {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    background-color: white;
    width: 100%;
}

label {
    color: #333;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #4a90e2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #357ab8;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.btn.btn-primary {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4a90e2;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.btn.btn-primary:hover {
    background-color: #357ab8;
}

.responsive-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
